@use 'variables';
@use 'mixins';

.gallery{
    &__image-container{
        height:300px;
        width: 100%;
        background-image: url(./images/image-product-1.jpg);
        background-position-y: -35px;
        background-size: cover;
    }
    &__previus{
        @include mixins.image-btn(190px, 15px)
    }
    &__next{    
        @include mixins.image-btn(190px, 320px)
    }
    &__thumbnails{
        display: flex;
        @media (min-width: 900px){
        }
    }
    @media(min-width: 900px)
    {
        &__image-container{
            width: 446px;
            border-radius: 16px;
            height: 446px;
            margin-bottom: 32px;
        }
    }
}